/* Upload Editor preview image */

.je-upload-preview img {
  float: left;
  margin: 0 0.5rem 0.5rem 0;
  max-width: 100%;
  max-height: 5rem;
}

.je-dropzone {
  position: relative;
  margin: 0.5rem 0;
  border: 2px dashed black;
  width: 100%;
  height: 60px;
  background: teal;
  transition: all 0.5s;
}

.je-dropzone:before {
  position: absolute;
  content: attr(data-text);
  color: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.je-dropzone.valid-dropzone {
  background: green;
}

.je-dropzone.invalid-dropzone {
  background: red;
}
