/*  CSS variables */
* {
  --primary-color: #5755d9;
  --gray-color: #bcc3ce;
  --light-color: #fff;
}
/*  Remove slider focus shadow */
.slider:focus {
  box-shadow: none;
}
/*  Add margin between header and top buttons */
h4 > label + .btn-group {
  margin-left: 1rem;
}
/*  Remove right margin on right-aligned button */
.text-right > button {
  margin-right: 0 !important;
}
/*  Remove left margin on left-aligned button */
.text-left > button {
  margin-left: 0 !important;
}
/*  Fix fontsize in Properties modal and increase size of modal box */
.property-selector {
  font-size: 0.7rem;
  font-weight: normal;
  max-height: 260px !important;
  width: 395px !important;
}
/*  Remove checkbox margins in Properties modal */
.property-selector .form-checkbox {
  margin: 0;
}
/*  Prevent textarea from being resized horizontally */
textarea {
  width: 100%;
  min-height: 2rem;
  resize: vertical;
}
/*  Remove gap between table element borders */
table {
  border-collapse: collapse;
}
/*  reduce table padding */
.table td {
  padding: 0.4rem 0.4rem;
}
/*  margin for checkbox label */
.mr-5 {
  margin-right: 1rem !important;
}
/*  Hover on input block (Should be removed in final version) */
div[data-schematype]:not([data-schematype="object"]) {
  transition: 0.5s;
}
/*  Hover on input block (Should be removed in final version) */
div[data-schematype]:not([data-schematype="object"]):hover {
  background-color: #eee;
}
/*  Option: table_border */
.je-table-border td {
  border: 0.05rem solid #dadee4 !important;
}
/*  Infobutton */
.btn-info {
  font-size: 0.5rem;
  font-weight: bold;
  height: 0.8rem;
  padding: 0.15rem 0;
  line-height: 0.8;
  margin: 0.3rem 0 0.3rem 0.1rem;
}
/*  Select box for oneOf, anyOf and allOf */
.je-label + select {
  min-width: 5rem;
}
/*  Option: label_bold */
.je-label {
  font-weight: 600;
}
/*  Infobutton */
.btn-action.btn-info {
  width: 0.8rem;
}
/*  Option: object_border */
.je-border {
  border: 0.05rem solid #dadee4;
}
.je-panel {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: rgba(218, 222, 228, 0.1);
}
.je-panel-top {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: rgba(218, 222, 228, 0.1);
}
/*  Red * after label if field is required */
.required:after {
  content: " *";
  color: red;
  font: inherit;
}
/*  option: align_bottom */
.je-align-bottom {
  margin-top: auto;
}
/*  Description */
.je-desc {
  font-size: smaller;
  margin: 0.2rem 0;
}
/*  Upload editor preview image */
.je-upload-preview img {
  float: left;
  margin: 0 0.5rem 0.5rem 0;
  max-width: 100%;
  max-height: 5rem;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.je-dropzone {
  position: relative;
  margin: 0.5rem 0;
  border: 2px dashed black;
  width: 100%;
  height: 60px;
  background: teal;
  transition: all 0.5s;
}
.je-dropzone:before {
  position: absolute;
  content: attr(data-text);
  color: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.je-dropzone.valid-dropzone {
  background: green;
}
.je-dropzone.invalid-dropzone {
  background: red;
}
/*  Option: object_indent */
.columns .container.je-noindent {
  padding-left: 0;
  padding-right: 0;
}
/*  Adjustments for Selectize styling */
.selectize-control.multi .item {
  background: var(--primary-color) !important;
}
/*  Adjustments for Select2 styling */
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}
.select2-container--default .select2-selection--single {
  border: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}
.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 0.05rem solid var(--gray-color);
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  margin: 0.4rem 0.2rem 0.2rem 0;
  padding: 2px 5px;
  background-color: var(--primary-color);
  color: var(--light-color);
}
.select2-container--default .select2-search--inline .select2-search__field {
  line-height: normal;
}
/*  Adjustment styling for Choices */
.choices {
  margin-bottom: auto;
}
.choices__list--multiple .choices__item {
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
}
.choices[data-type*="select-multiple"] .choices__button {
  border-left: 0.05rem solid #2826a6;
}
.choices__inner {
  font-size: inherit;
  min-height: 20px;
  padding: 4px 7.5px 4px 3.75px;
}
.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 4px;
}
.choices__list--dropdown .choices__item {
  font-size: inherit;
}
